@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: opensans;
  border: none;
  outline: 0;
  text-decoration: none;
  outline: 0;
  list-style: none;
}
:root {
  --bg1: #d7e4f3;
  --wh: #fff;
  --bl: #000;
  --pr: #330072;
  --shd: rgba(0, 0, 0, 0.2);
  --dr-bg: #0a1420;
  --dr-tx: #657891;
}
body {
  height: 100vh;
  background: var(--bg1);
  transition: 0.4s;
}
body.dark {
  background: var(--dr-bg);
}
span.ico {
  font-family: material-icons;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 50px;
  background: var(--wh);
  color: var(--pr);
  z-index: 1000;
}
.container {
  position: relative;
  width: 800px;
  height: 480px;
  margin: 10% auto;
  background: var(--wh);
  padding: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(24, 118, 243, 0.2);
  border-radius: 5px;
}
.container.dark {
  background: #2c4563;
  color: #657891;
  box-shadow: 5px 5px 10px var(--shd);
}
.container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: var(--pr);
  border-radius: 0 50% 50% 0;
  z-index: 1;
}
.container.dark::before {
  background: #5681b4;
}
.container.rtl {
  direction: rtl;
}
.container .hero .text.rtl h1 span {
  font-family: iran_yekan;
}
.container .hero .text.rtl h1,
p {
  font-family: iran_yekan;
}
.container.rtl::before {
  right: 0;
  border-radius: 50% 0 0 50%;
}
.container .top-bar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 0 10px;
  z-index: 2;
}
.container .top-bar .settings {
  position: relative;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--wh);
  box-shadow: 2px 3px 4px var(--shd);
  border-radius: 5px;
  font-size: 22px;
  color: var(--pr);
  z-index: 2;
  overflow: hidden;
}
.container .top-bar .settings.dark {
  background: #2c4563;
}
.container .top-bar .settings span {
  height: 35px;
  width: 38px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}
.container .top-bar .settings span:hover {
  background: var(--pr);
  color: var(--wh);
  transition: 0.4s;
}
.container .top-bar .ad-anim {
  height: 20px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3px;
}
.container .top-bar .ad-anim div {
  width: 4px;
  height: 0;
  background: var(--pr);
  border-radius: 20px;
}
.ad-anim div:nth-child(1) {
  animation: up 0.8s linear infinite alternate;
  animation-play-state: paused;
  animation-delay: 0.1s;
}
.ad-anim div:nth-child(2) {
  animation: up 0.8s linear infinite alternate;
  animation-play-state: paused;
  animation-delay: 0.2s;
}
.ad-anim div:nth-child(3) {
  animation: up 0.8s linear infinite alternate;
  animation-play-state: paused;
  animation-delay: 0.3s;
}
.ad-anim div:nth-child(4) {
  animation: up 0.8s linear infinite alternate;
  animation-play-state: paused;
  animation-delay: 0.4s;
}
.ad-anim div:nth-child(5) {
  animation: up 0.8s linear infinite alternate;
  animation-play-state: paused;
  animation-delay: 0.5s;
}
.ad-anim div:nth-child(6) {
  animation: up 0.8s linear infinite alternate;
  animation-play-state: paused;
  animation-delay: 0.6s;
}
@keyframes up {
  100% {
    height: 20px;
  }
}
.container .top-bar .social {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  gap: 10px;
}
.container .top-bar .social a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 31px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  color: var(--wh);
  background: var(--pr);
  box-shadow: 2px 2px 3px var(--shd);
  border: 2px solid var(--pr);
}
.container .top-bar .social a:hover {
  background: 0 0;
  color: var(--pr);
  transition: 0.4s;
}
.container .top-bar #more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  line-height: 31px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  color: var(--wh);
  background: var(--pr);
  box-shadow: 2px 2px 3px var(--shd);
  border: 2px solid var(--pr);
  display: none;
}
.container .top-bar #more.act {
  left: 50%;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 14px;
}
.container .hero {
  width: 100%;
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.container .hero img {
  position: relative;
  width: 300px;
  height: 100%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 2px 0 3px var(--shd);
  z-index: 2;
}
.container .hero img.rtl {
  box-shadow: -2px 0 3px var(--shd);
}
.container .hero img.dark {
  border-color: #a5c7f3;
}
.container .hero .text {
  padding: 0 25px 20px 30px;
}
.container .hero .text.dark p {
  color: #a5c7f3;
  letter-spacing: 0.5px;
}
.container .hero .text.dark h1 {
  color: #a5c7f3;
}
.container .hero .text h1 {
  font-family: opensans-bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--shd);
}
.container .hero .text h1 span {
  color: var(--pr);
  font-family: opensans-bold;
}
.container .hero .text p {
  font-weight: 700;
  color: #0e1216;
  line-height: 25px;
}
@media (max-width: 720px) {
  body {
    padding: 30px 0;
  }
  .container {
    width: 80%;
    height: auto;
    padding-bottom: 0;
  }
  .container .top-bar {
    flex-wrap: wrap;
  }
  .container .top-bar .social {
    position: absolute;
    top: 20px;
    right: 0;
    gap: 5px;
    width: 0;
    overflow: hidden;
  }
  .container .top-bar .social a {
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 16px;
  }
  .container .top-bar .social.act {
    width: auto;
  }
  .container .top-bar .social.act ~ .hero img {
    margin-top: 20px;
  }
  .container .top-bar #more {
    left: 95%;
    display: block;
    cursor: pointer;
    transition: 0.4s;
    z-index: 3;
  }
  .container .hero {
    position: relative;
    height: auto;
    display: block;
    z-index: 2;
  }
  .container .hero img {
    display: block;
    width: 90%;
    height: 300px;
    margin: 10px auto;
  }
  .container .hero .text h1 span {
    color: var(--wh);
  }
}
@media (max-width: 480px) {
  body {
    padding: 30px 0;
  }
  .container {
    width: 90%;
    height: auto;
    padding: 20px 10px;
  }
  .container .hero {
    position: relative;
    height: auto;
    display: block;
    padding: 0;
    z-index: 2;
  }
  .container .hero img {
    display: block;
    width: 90%;
    height: auto;
    margin: 10px auto;
  }
  .container .hero .text {
    padding: 0 10px;
  }
  .container .hero .text h1 {
    font-size: 22px;
    margin-bottom: 0;
  }
  .container .hero .text h1 span {
    color: var(--wh);
  }
  .container .hero .text p {
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
    padding: 0;
  }
}
